In [27]:
import pandas as pd

In [28]:
peliculas = {'nombre': ['Titanic', 'Kil Bill', 'Matrix', 'El padrino', 'Avatar',
                        'Casablanca', 'El exorcista',  'Soy leyenda',
                        'El club de la pelea', 'Mujercitas'],
            'director': ['James Cameron', 'Quentin Tarantino', 'Hermanas Wachowski',
                        'Francis Ford Coppola', 'James Cameron', 'Michael Curtiz',
                        'William Friedkin', 'Francis Lawrence','David Fincher',
                        'Greta Gerwig'],
            'año': [1997, 2003, 1999, 1972, 2009, 1942, 1973, 2007, 1999, 2019],
            'género': ['romance', 'acción', 'ciencia ficción', 'drama', 'ciencia ficción', 'drama', 'terror',
                        'ciencia ficción', 'drama', 'drama'],
            'puntaje': [8.6, None, 6.9, 7.5, 9.1, 6.0, None, None, 9.4, 8.0]}

df = pd.DataFrame(peliculas)
df

                nombre              director   año           género  puntaje
0              Titanic         James Cameron  1997          romance      8.6
1             Kil Bill     Quentin Tarantino  2003           acción      NaN
2               Matrix    Hermanas Wachowski  1999  ciencia ficción      6.9
3           El padrino  Francis Ford Coppola  1972            drama      7.5
4               Avatar         James Cameron  2009  ciencia ficción      9.1
5           Casablanca        Michael Curtiz  1942            drama      6.0
6         El exorcista      William Friedkin  1973           terror      NaN
7          Soy leyenda      Francis Lawrence  2007  ciencia ficción      NaN
8  El club de la pelea         David Fincher  1999            drama      9.4
9           Mujercitas          Greta Gerwig  2019            drama      8.0

In [29]:
# Mostrar la información del DataFrame con el método info(), ¿Cómo se llaman y qué tipo de dato tiene cada columna? ¿Cuántos elementos nulos hay en cada columna? Interpretar qué información se guarda en esta tabla y para qué puede servir.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    10 non-null     object
 1   director  10 non-null     object
 2   año       10 non-null     int64
 3   género    10 non-null     object
 4   puntaje   7 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 532.0+ bytes

In [30]:
# Mostrar sólo los nombres de las primeras 3 películas del DataFrame.
df['nombre'].head(3)

0     Titanic
1    Kil Bill
2      Matrix
Name: nombre, dtype: object

In [31]:
# Mostrar sólo el director y el género de todas las películas.
df[['director', 'género']]

               director           género
0         James Cameron          romance
1     Quentin Tarantino           acción
2    Hermanas Wachowski  ciencia ficción
3  Francis Ford Coppola            drama
4         James Cameron  ciencia ficción
5        Michael Curtiz            drama
6      William Friedkin           terror
7      Francis Lawrence  ciencia ficción
8         David Fincher            drama
9          Greta Gerwig            drama

In [32]:
 # Mostrar las películas que sean de drama
df[df['género'] == 'drama']

                nombre              director   año género  puntaje
3           El padrino  Francis Ford Coppola  1972  drama      7.5
5           Casablanca        Michael Curtiz  1942  drama      6.0
8  El club de la pelea         David Fincher  1999  drama      9.4
9           Mujercitas          Greta Gerwig  2019  drama      8.0

In [33]:
# ¿Qué cantidad de películas hay de cada género?
df['género'].value_counts()

género
drama              4
ciencia ficción    3
romance            1
acción             1
terror             1
Name: count, dtype: int64

In [34]:
# Mostrar las películas que tengan puntaje entre 6 y 8 y cuyo año de estreno sea anterior a los 2000
df[(df['puntaje'] >= 6) & (df['puntaje'] <= 8) & (df['año'] < 2000)]

       nombre              director   año           género  puntaje
2      Matrix    Hermanas Wachowski  1999  ciencia ficción      6.9
3  El padrino  Francis Ford Coppola  1972            drama      7.5
5  Casablanca        Michael Curtiz  1942            drama      6.0

In [35]:
# Mostrar las películas que no hayan sido puntuadas (que el puntaje tenga un valor nulo).
df[df['puntaje'].isnull()]

         nombre           director   año           género  puntaje
1      Kil Bill  Quentin Tarantino  2003           acción      NaN
6  El exorcista   William Friedkin  1973           terror      NaN
7   Soy leyenda   Francis Lawrence  2007  ciencia ficción      NaN

In [36]:
# Calcular el promedio del puntaje de todas las películas.
df['puntaje'].mean()

7.928571428571429

In [37]:
# Ordenar las películas en orden alfabético descendente.
df.sort_values('nombre', ascending=False)

                nombre              director   año           género  puntaje
0              Titanic         James Cameron  1997          romance      8.6
7          Soy leyenda      Francis Lawrence  2007  ciencia ficción      NaN
9           Mujercitas          Greta Gerwig  2019            drama      8.0
2               Matrix    Hermanas Wachowski  1999  ciencia ficción      6.9
1             Kil Bill     Quentin Tarantino  2003           acción      NaN
3           El padrino  Francis Ford Coppola  1972            drama      7.5
6         El exorcista      William Friedkin  1973           terror      NaN
8  El club de la pelea         David Fincher  1999            drama      9.4
5           Casablanca        Michael Curtiz  1942            drama      6.0
4               Avatar         James Cameron  2009  ciencia ficción      9.1

In [38]:
# Mostrar las 3 películas más antiguas.
df.sort_values('año').head(3)

         nombre              director   año  género  puntaje
5    Casablanca        Michael Curtiz  1942   drama      6.0
3    El padrino  Francis Ford Coppola  1972   drama      7.5
6  El exorcista      William Friedkin  1973  terror      NaN

In [39]:
# Mostrar sólo el nombre y el año de las 3 películas más nuevas.
df.sort_values('año', ascending=False).head(3)[['nombre', 'año']]

        nombre   año
9   Mujercitas  2019
4       Avatar  2009
7  Soy leyenda  2007

In [40]:
# Agregar una columna que indique si la película fue vista, o no. Una película fue vista cuando tiene puntaje no nulo
df['vista'] = df['puntaje'].notnull()
df

,nombre,director,año,género,puntaje,vista
0,Titanic,James Cameron,1997,romance,8.6,True
1,Kil Bill,Quentin Tarantino,2003,acción,NaN,False
2,Matrix,Hermanas Wachowski,1999,ciencia ficción,6.9,True
3,El padrino,Francis Ford Coppola,1972,drama,7.5,True
4,Avatar,James Cameron,2009,ciencia ficción,9.1,True
5,Casablanca,Michael Curtiz,1942,drama,6.0,True
6,El exorcista,William Friedkin,1973,terror,NaN,False
7,Soy leyenda,Francis Lawrence,2007,ciencia ficción,NaN,False
8,El club de la pelea,David Fincher,1999,drama,9.4,True
9,Mujercitas,Greta Gerwig,2019,drama,8.0,True